{{#extend "stylesheets"}}
    <!--<link rel="stylesheet" href="/stylesheets/" />-->
{{/extend}}

{{#extend "scripts"}}
<!--<script src="/javascripts/"></script>-->
<script>

</script>
{{/extend}}

<ul id="soirees">
    <h2> Soirees </h2>
    {{#each soirees}}
        <li>
            {{this.soireeId}} : {{this.soireeType}} at {{this._business.businessName}} at {{this.scheduledStartTimeIdentifier}} -
            {{#if this.userAlreadyJoined}}
                <button> Joined </button>
            {{else}}
                <button onclick="join('{{this.soireeId}}')" id="{{this.soireeId}}"> Join </button>
            {{/if}}
            {{#if this.openToUsers}}
                <button onclick="showSoireeInProgress('{{this.soireeId}}')"> Show In Progress </button>
            {{else}}
                <button onclick="openSoiree('{{this.soireeId}}')"> Open </button>

            {{/if}}
            {{#if this.started}}
                <button onclick="endSoiree('{{this.soireeId}}')"> End </button>
            {{else}}

                <button onclick="startSoiree('{{this.soireeId}}')"> Start </button>
                {{#if this.cancelled}}
                    <button> Cancelled </button>
                {{else}}
                    <button onclick="cancelSoiree('{{this.soireeId}}')"> Cancel </button>
                {{/if}}
            {{/if}}

            <button onclick="remindSoiree('{{this.soireeId}}')"> Remind Users </button>


            <div>
                <ul>
                    <li>numUsersMax : {{this.numUsersMax}}</li>
                    <li>_usersAttending ({{this._usersAttending.length}}): [{{#each this._usersAttending}} {{this.firstName}} {{this.lastName}}, {{/each}}]</li>
                    <li>_usersUncharged ({{this._usersUncharged.length}}): [{{#each this._usersUncharged}} {{this.firstName}} {{this.lastName}}, {{/each}}]</li>
                    <li>_unchargedReservations ({{this._unchargedReservations.length}}): [ {{#each this._unchargedReservations}} {{this.reservationId}} ({{this._user.fullName}}) {{/each}} ]</li>
                    <li>_chargedReservations ({{this._chargedReservations.length}}): [ {{#each this._chargedReservations}} {{this.reservationId}} ({{this._user.fullName}} - {{this.confirmationCode}} - confirmed: {{this.confirmed}}) {{/each}} ]</li>
                    <li> startTimeIdentifier : {{this.scheduledStartTimeIdentifier}} </li>
                    <li> endTimeIdentifier : {{this.scheduledEndTimeIdentifier}} </li>

                </ul>
            </div>
        </li>
    {{/each}}
</ul>