{{#extend "scripts"}}

    <script>


        function join(soireeId){
            $.ajax({url: '/testing/joinSoiree', method : "POST", data: {"soireeId" : soireeId}})
                    .done(function(){
                        alert("Succeeded");

                        var button = document.getElementById(soireeId);
                        button.onclick = null;
                        button.innerText = "Joined";
                    }).fail(function(){
                       alert("Failed");
                     });
        };


        function deleteSoirees(){
            $.ajax({
                url: '/testing/deleteSoirees',
                method : 'GET',
                success: function(){
                    location.reload(true);
                },
                error: function(){
                    alert("Error");
                }
            });
        };

        function createSoirees(){
            $.ajax({
                url: '/testing/createSoirees',
                method : 'GET',
                success: function(){
                    location.reload(true);
                },
                error: function(){
                    alert("Error");
                }
            });
        };

        function createSoireeForSchedulerRun(){
            $.ajax({
                url: '/testing/createSoireeForSchedulerRun',
                method : 'GET',
                success: function(){
                    location.reload(true);
                },
                error: function(){
                    alert("Error");
                }
            });
        };

    </script>

{{/extend}}

<button onclick='deleteSoirees()'> Delete Soirees </button>
<button onclick='createSoirees()'> Create Soirees </button>
<button onclick='createSoireeForSchedulerRun()'> Create Soiree For Next Scheduler Run </button>


<ul id="soirees">
    {{#each soirees}}
         <li>
            {{this.soireeType}} at {{this._business.businessName}} at {{this.scheduledTimeIdentifier}} -
            {{#if this.userAlreadyJoined}}
                <button> Joined </button>
            {{else}}
                <button onclick="join('{{this.soireeId}}')" id="{{this.soireeId}}"> Join </button>
            {{/if}}
         </li>
    {{/each}}
</ul>




