{{#extend "scripts"}}

    <script>


        function join(soireeId){
            $.ajax({url: '/testing/joinSoiree', method : "POST", data: {"soireeId" : soireeId}})
                    .done(function(){
                        alert("Succeeded");

                        var button = document.getElementById(soireeId);
                        button.onclick = null;
                        button.innerText = "Joined";
                    }).fail(function(){
                       alert("Failed");
                     });
        };


        function deleteSoirees(){
            $.ajax({
                url: '/testing/deleteSoirees',
                method : 'GET',
                success: function(){
                    location.reload(true);
                },
                error: function(){
                    alert("Error");
                }
            });
        };

        function createSoirees(){
            $.ajax({
                url: '/testing/createSoirees',
                method : 'GET',
                success: function(){
                    location.reload(true);
                },
                error: function(){
                    alert("Error");
                }
            });
        };

        function createSoireeForSchedulerRun(){
            $.ajax({
                url: '/testing/createSoireeForSchedulerRun',
                method : 'GET',
                success: function(){
                    location.reload(true);
                },
                error: function(err){
                    alert("Error: " + err);
                }
            });
        };

        function createPost(){
            var text = $("#newPost").val()
            $.ajax({
                url: '/testing/createPost',
                method : 'POST',
                data : {text : text},
                success: function(){
                    location.reload(true);
                },
                error: function(err){
                    alert("Error: " + err);
                }
            });
        };

        function addComment(postId){
            var idString = "#" + postId + "comment";
            var text = $(idString).val();

            $.ajax({
                url: '/testing/createComment',
                method : 'POST',
                data : {text : text, postId : postId},
                success: function(){
                    location.reload(true);
                },
                error: function(err){
                    alert("Error: " + err);
                }
            });
        }

    </script>

{{/extend}}

<button onclick='deleteSoirees()'> Delete Soirees </button>
<button onclick='createSoirees()'> Create Soirees </button>
<button onclick='createSoireeForSchedulerRun()'> Create Soiree For Next Scheduler Run </button>


<h1> Soirees </h1>
<ul id="soirees">
    {{#each soirees}}
         <li>
            {{this.soireeType}} at {{this._business.businessName}} at {{this.scheduledTimeIdentifier}} -
            {{#if this.userAlreadyJoined}}
                <button> Joined </button>
            {{else}}
                <button onclick="join('{{this.soireeId}}')" id="{{this.soireeId}}"> Join </button>
            {{/if}}
         </li>
    {{/each}}
</ul>

<h1> Posts </h1>

<div id="makePost">
    <textarea id="newPost" style="height:100px; width: 200px;"></textarea>
    <button onclick="createPost()">Post </button>
</div>


<ul id="posts">
    {{#each posts}}
        <li>
            POST:"{{this.text}}" <br />
            by: {{this.author}} <br />
            postId : {{this.postId}}
          <ul>
                  {{#each this._comments}}
                  <li>
                      {{this.text}}
                  </li>
                  {{/each}}

                  <input type="text" id="{{this.postId}}comment" />
                  <button onclick="addComment('{{this.postId}}')"> Comment</button>


          </ul>
        </li>
    {{/each}}
</ul>



