<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel='stylesheet' href='/stylesheets/shared/base.css' />
        <link rel='stylesheet' href='/stylesheets/shared/login.css' />
        <link rel='stylesheet' href='/stylesheets/admins/base.css' />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

        {{{block "stylesheets"}}}

        {{#each stylesheets}}
            <link rel='stylesheet' href={{this}} />
        {{/each}}
    </head>

    <body>


       <!--Top Navigation Bar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/admins/">Soirée</a>

                </div>

                {{#if admin}}
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <!--<li class="dropdown active">-->
                                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Businesses <span class="caret"></span></a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="#">View</a></li>-->
                                    <!--<li><a href="/admins/registerBusiness">Register</a></li>-->

                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li><a href="/admins/verifications">ID Verifications</a></li>-->
                            <!--<li><a href="#about">About</a></li>-->
                            <li><a href="/admins/logout">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                {{/if}}

            </div>
        </nav>



        <!--Side Navigation Bar-->
       {{#if admin}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <!--<li class="active"><a href="#">Overview <span class="sr-only"></span></a></li>-->
                        <li class=""><a href="#">Overview <span class="sr-only"></span></a></li>

                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Refund Requests</a></li>
                        <li><a href="/admins/testing">Testing</a></li>
                        <li><a href="/admins/testing/findSoirees">Testing as Current User</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="/admins/verifications">ID Verifications</a></li>
                        <li><a href="">View Users</a></li>
                        <li><a href="">Find a User</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="/admins/registerBusiness">Register a Business</a></li>
                        <li><a href="">Find a Business</a></li>
                        <li><a href="/admins/viewBusinesses">View All Businesses</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">View all Soirees</a></li>
                        <li><a href="">Find a Soiree</a></li>
                        <li><a href="/admins/createSoiree">Create a Soiree</a></li>
                    </ul>
                </div>
        {{/if}}



       <div {{#if admin}}class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"{{/if}}>
           {{#if error}}
               <div class='alert alert-danger' role='alert'>
                   <ul>
                       {{#each error}}
                           <li>{{this}}</li>
                       {{/each}}
                   </ul>
               </div>
           {{/if}}

           {{#if success}}
               <div class='alert alert-success' role='alert'>
                   <ul>
                       {{#each success}}
                           <li>{{this}}</li>
                       {{/each}}
                   </ul>
               </div>
           {{/if}}

           {{{body}}}
       </div>

       {{#if admin}}
            </div>
           </div>
       {{/if}}



        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
<!---->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        {{{block "scripts"}}}

    </body>
</html>


