{{#extend "stylesheets"}}
   <!-- <link rel="stylesheet" href="/stylesheets/" /> -->
{{/extend}}

{{#extend "scripts"}}
<!-- <script src="/javascripts/"></script> -->
<script>

</script>
{{/extend}}

<form class="form-signin" action='/admins/createSoiree' id="createSoireeForm" method='POST'>
    <h2 class="form-signin-heading">Create A Soiree</h2>

    <input type="text" id="inputName" class="form-control" placeholder="Name" name='soireeName' required autofocus>

    <input type="text" id="inputNumUsersMax" class="form-control" placeholder="Maximum Number Of People" name='numUsersMax' required>

    <input type="text" id="inputNumUsersMin" class="form-control" placeholder="Minimum Number Of People" name='numUsersMin' required>

    <input type="date" id= "inputSoireeDate" class= "form-control" placeholder= "date" name = 'date' required>

    <label for="inputSoireeTypes" class="sr-only">Soiree Types</label>
    <select id = "soireeTypeList">
         {{#each soireeTypes}}
            <option class="inputSoireeTypes" value = {{this}}><span class='inputSoireeTypeText'>{{this}}</span> </option>
         {{/each}}
    </select>

    <label for="inputBusiness" class="sr-only">Businesses</label>
    <select id = "businessesList">
        {{#each businesses}}
            <option class="inputSoireeTypes" value = {{this}}><span class='inputSoireeTypeText'>{{this.businessName}}, id: {{this.businessId}}</span> </option>
        {{/each}}
    </select>



    <!--<label for="inputPassword" class="sr-only">Password</label>-->
    <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" name='password' required>-->

    <button class="btn btn-lg btn-primary btn-block submit_button" type="submit" id="registerButton">Create Soiree</button>

</form>
