<h1>Home Yo</h1>
<p>Welcome, {{admin.firstName}}</p>

<ul>
    {{#each verifications}}
		<li>User: {{this._user.firstName}}  {{this._user.lastName}}. College: {{this.college}}
            Id Image: <img src={{this.idImagePath}} /> Self Image: <img src={{this.selfImagePath}} /> </li>
	{{/each}}
</ul>
