<h1>Home Yo</h1>
<p>Welcome, {{admin.firstName}}</p>

<ul>
    {{#each verifications}}
		<li>
            <ul>
                <li> User: {{this._user.firstName}}  {{this._user.lastName}} </li>
                <li> College: {{this.college}} </li>
                <li> Id Image: <img src={{this.idImagePath}} /> Self Image: <img src={{this.selfImagePath}} />  </li>
                <li> <input type="button" name="Verify" /> <input type="button" name="Reject" /> </li>
            </ul>
        </li>
	{{/each}}
</ul>
