<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/stylesheets/shared/base.css" />
      <link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
      {{{block "stylesheets"}}}

  </head>
  <body>
  {{#if errs}}
      <div class='alert alert-danger' role='alert'>
          <ul>
              {{#if errors}}
                  <li>{{errors}}</li>
              {{/if}}
          </ul>
      </div>
  {{/if}}

  {{#if success}}
      <div class='alert alert-success' role='alert' id="successMessage">
          {{success}}
      </div>
  {{/if}}

  <div id="container">
      {{{body}}}
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  {{{block "scripts"}}}
  </body>


</html>


