{{#extend "stylesheets"}}

{{/extend}}

{{#extend "scripts"}}
<script>

</script>
{{/extend}}


{{#each soirees}}
    <ul>
        <h4>{{dateStringFromDate this.date}}</h4>
        <li>Soiree ID: {{this.soireeId}}</li>
        <li>{{this._unchargedReservations.length}} Users Not Charged: {{#each this._unchargedReservations}}{{this._user.firstName}} {{this._user.lastName}}, {{/each}}</li>
        <li>{{this._chargedReservations.length}} Users Charged: {{#each this._chargedReservations}}{{this._user.firstName}} {{this._user.lastName}}, {{/each}}</li>
        <li>Total Amount: ${{sumReservations this._chargedReservations}}</li>
    </ul>
{{/each}}

