{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/businesses/index.css" />
{{/extend}}


{{#if reservations}}
    <ul>
        {{#each reservations}}
            <li> {{this._soiree.soireeType}} {{this._soiree.scheduledTimeIdentifier}} {{this.confirmationCode}}</li>
         {{/each}}
    </ul>
{{/if}}


<div class="form-signin" id="confirmationCodeForm">
    <h1 id="welcomeHeader">Welcome to {{title}}, {{business.businessName}}</h1>
    <input type="text" name="confirmationCode" id="confirmationCodeInput" class="form-control" placeholder="Confirmation Code" autofocus/>
    <button class="btn btn-primary btn-block" id="confirmationCodeButton" onclick="confirm()">Confirm </button>
</div>


{{#extend "scripts"}}

    <script>

//        $(function() {
//            $('#confirmationCodeInput').keyup(function() {
//                this.value = this.value.toUpperCase();
//            });
//        });

        function confirm(){
            var codeInput = document.getElementById("confirmationCodeInput");
            var confirmationCode = codeInput.value;
            if (confirmationCode && confirmationCode.length > 0) {

                $.ajax({
                            url: "/businesses/confirmSoireeReservation",
                            method: "POST",
                            data: {confirmationCode: confirmationCode},
                            success: function (responseObj) {
                                if (responseObj.status === 'success') {
                                    var message = responseObj.description;
                                    addSuccessMessage(message);
                                    clearField();
                                }
                                else if (responseObj.status === 'fail') {
                                }
                                alert(responseObj.description);
                            },
                            error: function () {
                                alert("An error occurred. Please try again later.");
                            }
                        }
                );
            }

        }

        function clearField(){
            var textField = $("#confirmationCodeInput");
            textField.val('');
            textField.focus();
        }

        function addSuccessMessage(message){
            alert('adding message: ' + message);
            $("#successMessage").text(message);
        }
    </script>

{{/extend}}

