
{{#extend "head"}}
    <meta http-equiv="refresh" content="300" >
{{/extend}}

{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/businesses/index.css" />
{{/extend}}

<div id="upcomingSoireesDiv">
    <span>You have <strong>{{upcomingSoirees.length}}</strong> upcoming soirees today</span>
    <ul id="upcomingSoireesList">
        {{#each upcomingSoirees}}
            <li class="upcomingSoireeListItem">
                <a href="/businesses/viewSoiree/{{this.soireeId}}" class="upcomingSoireeLink"> <span class="upcomingSoireeStrongItem">{{this.timeString}}</span>, with <span class="upcomingSoireeStrongItem">{{this.numUsersRegistered}} users</span> so far </a>
            </li>
        {{/each}}

    </ul>
</div>

<!--{{#if reservations}}-->
    <!--<ul>-->
        <!--{{#each reservations}}-->
            <!--<li> {{this._soiree.soireeType}} {{this._soiree.scheduledTimeIdentifier}} {{this.confirmationCode}}</li>-->
         <!--{{/each}}-->
    <!--</ul>-->
<!--{{/if}}-->

<div>
    <div style="text-align:center;"><div id="successMessageDiv"></div></div>

    <div class="form-signin" id="confirmationCodeForm">
        <h1 id="welcomeHeader">Welcome to {{title}}, {{business.businessName}}</h1>
        <input type="text" name="confirmationCode" id="confirmationCodeInput" class="form-control" placeholder="Confirmation Code" autofocus/>
        <button class="btn btn-primary btn-block" id="confirmationCodeButton" onclick="confirm()">Confirm </button>
    </div>
</div>




{{#extend "scripts"}}

    <script>

        var lastUserConfirmedId;

        function confirm(){
            var codeInput = document.getElementById("confirmationCodeInput");
            var confirmationCode = codeInput.value;
            if (confirmationCode && confirmationCode.length > 0) {

                $.ajax({
                            url: "/businesses/confirmSoireeReservation",
                            method: "POST",
                            data: {confirmationCode: confirmationCode},
                            success: function (responseObj) {
                                if (responseObj.status === 'success') {
                                    addConfirmedReservation(responseObj);
                                    clearField();
                                }
                                else if (responseObj.status === 'fail') {
                                    var message = responseObj.message;
                                    alert(message);
                                    clearField();
                                }
                            },
                            error: function () {
                                alert("An error occurred. Please try again later.");
                            }
                        }
                );
            }

        }


        function addConfirmedReservation(responseObj){
            var html = "<p><strong>" + responseObj.message + "</strong></p>" +
                    "<img class='successMessageDivImage' src='" + responseObj.userProfilePictureUrl + "'/>" +
                    "<div class='successMessageText'><p><strong>Name:</strong> " + responseObj.userFullName + "</p>" +
                    "<p> <strong>Age: </strong>" + responseObj.userAge + " </p>" +
                    "<p><strong>Amount prepaid:</strong> " + responseObj.amountPrepaid + " </p></div>";
//                    "<p><strong>Amount prepaid:</strong> $4.00 </p></div>";

            var currUserId = responseObj.userId;
            lastUserConfirmedId = responseObj.userId;

            var sel = $("#successMessageDiv");
            sel.html(html);
            sel.fadeTo(1000, 1);
            setTimeout(function(){
                if (lastUserConfirmedId === currUserId){
                    sel.fadeTo(1000, 0);
                }
            }, 60000);

//            $("#successMessageDiv").fadeIn(500);
//            var message = responseObj.message;
//            addSuccessMessage(message);
        }

        function clearField(){
            var textField = $("#confirmationCodeInput");
            textField.val('');
            textField.focus();
        }

        function addSuccessMessage(message){
            $("#successMessage").text(message);
        }
    </script>

{{/extend}}

